
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.preHeader{
    position: relative;
    width: 100%;
    padding: 20px 100px;
    text-align: center;
    transition: all 400ms ease-in-out;
    p{
        font-size: 18px;
        line-height: 28px;
        color: $white;
        a{
            color:$white;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: 20px;        
        }
    }
}
.shadowHeader{
    box-shadow: 0px 2px 27.6px 0px #00000026;
    background-color: $white;
    transition: all 400ms ease-in-out;
}
.header{
    position: relative;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo{
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
                height: auto;
            }
        }
    }
   
    &_menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-gap: 60px;
        .menuIcon{
            width: 40px;
            height: 38px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: column;
            cursor: pointer;
            span{
                position: relative;
                width: 100%;
                height: 2px;
                background-color: $blue;
                &:nth-child(2){
                    max-width: 32px;
                }
            }
        }
    }
   
}

header{
    &.scrolled{
        .preHeader{
            transform: translateY(-100%);
        }
        .shadowHeader{
            transform: translateY(-68px);
        }
        .logo a img{
            width: 150px;
        }
    }
}