.homeBanner{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 180px;
    text-align: center;
    overflow: hidden;
    @include breakpoint(1536px){
        padding-top: 150px;
    }
    @include breakpoint(1024px){
        height: 100%;
        min-height: 700px;
    }
    @include breakpoint(760px){
        min-height: 100vh;
    }
    &_cnt{
        position: relative;
        padding-top: 60px;
        margin-bottom: 60px;
        @include breakpoint(1600px){
            padding-top: 30px;
        }
        @include breakpoint(1366px){
            padding-top: 20px;
        }
        @include breakpoint(760px){
            padding: 0 20px;
        }
        .h1{
            margin-bottom: 40px;
            @include breakpoint(1600px){
                margin-bottom: 20px;
            }
            @include breakpoint(1366px){
                margin-bottom: 10px;
            }
        }
    }
}

// Marquee

.marquee {
	overflow-x: clip;
	white-space: nowrap;
	position: absolute;
	width: 100%;
    max-height: 50vh;
    bottom: 0;
    
}

.marquee-inner {
	display: flex;
	align-items: center;
	will-change: transform;
}

.marquee-inner img {
	height: 100%;
	transition: transform 0.5s;
	flex-shrink: 0;
	width: 20vw;
    @include breakpoint(760px){
        width: 42vw;
    }
}

.marquee-inner img:hover {
	transform: scale(1.03);
}

.eduWrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 130px;
    @include breakpoint(1680px){
        grid-gap:50px;
    }
    @include breakpoint(1024px){
        flex-direction: column;
    }
    &_img{
        img{
            max-width: 600px;
            height: auto;
            border-radius: 10px;
            @include breakpoint(760px){
                max-width: 100%;
            }
        }
    }
    &_cnt{
        .h1{
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 60px;
        }
    }
}
$bg-color: #fff;
$hover-bg-color: #ccc;
$overlay-color: rgba(0, 0, 0, 0.6);
$hover-overlay-color: rgba(0, 0, 0, 0.8);
$transition-duration: 500ms;
$gap: 20px;
.whyChoose{
    &_title{
        position: relative;
        text-align: center;
        margin-bottom: 50px;
        img{
            margin-bottom: 20px;
        }
    }
    &_slides{
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: $gap;
        // padding: 30px;
        margin: 0 auto;
        overflow: hidden;
        grid-gap: 30px;
        @include breakpoint(1024px){
            flex-wrap: wrap;
            flex-direction: column;
        }
        .imgWrap {
            flex: 1;
            position: relative;
            transition: flex-grow $transition-duration ease-in-out, border-color 300ms;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            height: 560px;
            @include breakpoint(1024px){
                width: 100%;
                flex-grow: 1;
            }
            &_cnt{
                position: absolute;
                padding: 0 120px 0 0;
                left: 30px;
                bottom: 0;
                width: 100%;
                height: 100%;
                h3{
                    font-size:26px;
                    line-height: 36px;
                    font-family: $bold;
                    color: $white;
                    margin-bottom: 15px;
                    position: absolute;
                    bottom: 100px;
                    @include breakpoint(1680px){
                        bottom: 130px;
                    }
                    @include breakpoint(1024px){
                        bottom: 80px;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 26px;
                    color: #c4c4c4;
                    font-family: $medium;
                    transition: all 400ms ease-in-out 400ms;
                    opacity: 0;
                    position: absolute;
                    bottom: 30px;
                    width: calc(100% - 60px);
                    min-width: 505px;
                    @include breakpoint(1680px){
                        min-width: 489px;
                    }
                    @include breakpoint(1536px){
                        min-width: 480px;
                    }
                    @include breakpoint(1440px){
                        min-width: 440px;
                    }
                    @include breakpoint(1366px){
                        min-width: 400px;
                    }
                    @include breakpoint(1280px){
                        min-width: 370px;
                    }
                    @include breakpoint(1024px){
                      opacity: 1;
                    }
                }
                a{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    left: -30px;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.2);

                    }
                    span{
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $white;
                        border-radius: 50%;
                        position: absolute;
                        right: 30px;
                        top: 30px;
                        @include breakpoint(760px){
                            width: 30px;
                            height: 30px;
                        }
                        img{
                            @include breakpoint(760px){
                                width: 16px;
                            }
                        }
                    }
                }
            }
            &_inner{
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                img {
                    width: auto;
                    height: 100%;
                    transition: transform $transition-duration ease-in-out;
                    object-fit: cover;
                    object-position: center;
                    @include breakpoint(1024px){
                        width: 100%;
                    }
                }
            }
            &.grow{
              flex-grow: 2;
              border-color: $hover-bg-color;
                @include breakpoint(1024px){
                    width: 100%;
                    flex-grow: 1;
                }
              .imgWrap_cnt{
                p{
                    opacity: 1;
                    transition: opacity 400ms ease-in-out 400ms;
                }
                a{
                    &:after{
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
              }
            }
        }
    }
}

.aboutUs{
    position: relative;
    padding-top: 100px;
    padding-bottom: 180px;
    @include breakpoint(1024px){
        padding-top: 60px;
        padding-bottom: 100px;
    }
    @include breakpoint(760px){
        padding-bottom: 60px;
    }
    &_title{
        text-align: center;
        margin-bottom: 60px;
        img{
            margin-bottom: 20px;
        }
    }
    &_cnt{
        .pText{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.titleWrap{
    text-align: center;
    margin-bottom: 60px;
    @include breakpoint(1024px){
        margin-bottom: 30px;
    }
    img{
        margin-bottom: 20px;
    }
}

.facilities{
    margin-top: 60px;
    &_imgBlk{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        grid-gap: 30px;
        @include breakpoint(1024px){
            flex-direction: column;
        }
        .imgGrid{
            position: relative;
            width: 50%;
            height: 100%;
            @include breakpoint(1024px){
                width: 100%;
            }
            &_cnt{
                position: relative;
                height: 100%;
                min-height: 70vh;
                color: $white;
                border-radius: 10px;
                overflow: hidden;
                @include breakpoint(1024px){
                    min-height: calc(35vh - 15px);;
                }
                &_imgwrap{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    padding: 0 40px;
                    transition: all 400ms ease-in-out;
                }
                &:hover{
                    .imgGrid_cnt_imgwrap{
                        transform: scale(1.1);
                    }
                }
                &::after{
                    content: '';
                    background: linear-gradient(179.77deg, rgba(0, 0, 0, 0) 52.63%, rgba(0, 0, 0, 0.8) 99.8%);
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    height: 80%;
                }
                &_inner{
                    position: absolute;
                    bottom: 30px;
                    left: 40px;
                    width: calc(100% - 80px);
                   z-index: 1;
                }
                .h3{
                    font-size: 44px;
                    color: $white;
                }
                p{
                    color: $lightWhite;
                }
            }
            &.imgGrid2{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                grid-gap: 30px;
                flex-direction: column;
            }
            &_single{
                position: relative;
                min-height: calc(35vh - 15px);
                border-radius: 10px;
                overflow: hidden;
                &:hover{
                    .imgGrid_cnt_imgwrap{
                        transform: scale(1.1);
                    }
                }
                &::after{
                    content: '';
                    background: linear-gradient(179.77deg, rgba(0, 0, 0, 0) 52.63%, rgba(0, 0, 0, 0.8) 99.8%);
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    height: 80%;
                }
                .imgGrid_cnt_inner{
                    .h3{
                        color: $white;
                    }
                    p{
                        color: $lightWhite;
                    }
                }
            }
        }
    }
}

.team{
    .titleWrap{
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 70px;
        @include breakpoint(1600px){
            max-width: 100%;
        }
        .h1{
            margin-bottom: 40px;
        }
    }
    &_cards{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 50px;
        @include breakpoint(1024px){
            grid-gap: 20px;
            flex-wrap: wrap;
        }
        .tCard{
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            @include breakpoint(1024px){
               width: calc(50% - 20px);
            }
            @include breakpoint(760px){
                width: 100%;
             }
            &:after{
                content: '';
                background: linear-gradient(179.77deg, rgba(0, 0, 0, 0) 52.63%, rgba(0, 0, 0, 0.8) 99.8%);
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                height: 100%;
            }
            img{
                width: 100%;
            }
           
            &_cnt{
                position: absolute;
                bottom: 0;
                z-index: 1;
                padding: 30px;
                transform: translateY(75px);
                transition: all 400ms ease-in-out;
                .h4{
                    color: $white;
                    margin-bottom: 10px;
                }
                p{
                    color: $lightWhite;
                    opacity: 0;
                    transition: all 400ms ease-in-out;
                    transition-delay: 400ms;
                }
            }
            &:hover{
                .tCard_cnt{
                    transform: translateY(0);
                    p{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.philosophy{
    position: relative;
    &_cards{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        grid-gap: 60px;
        @include breakpoint(1536px){
            max-width: calc(100% - 60px);
            margin: 0 auto;
        }
        @include breakpoint(1024px){
            flex-wrap: wrap;
            grid-gap: 20px;
         }
         @include breakpoint(760px){
            max-width: calc(100% );
         }
        .pCard{
            position: relative;
            width: 100%;
            padding: 50px 40px;
            border-radius: 30px;
            background-color: var(--bg);
            @include breakpoint(1366px){
                padding: 30px;
                min-height: 360px;
            }
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                border: 2px dashed rgba($color: #000000, $alpha: 0.5);
                border-radius: 30px;
                z-index: 1;
               
            }
            &.pCard1{
                .pCard_inner{
                    transform: rotate(-3deg);
                    @include breakpoint(1024px){
                        transform: rotate(0deg);
                    }
                }
                &:after{
                    transform: rotate(-3deg);
                    @include breakpoint(1024px){
                        transform: rotate(0deg);
                    }
                }
            }
            &.pCard3{
                .pCard_inner{
                    transform: rotate(3deg);
                    @include breakpoint(1024px){
                        transform: rotate(0deg);
                    }
                }
                &:after{
                    transform: rotate(3deg);
                    @include breakpoint(1024px){
                        transform: rotate(0deg);
                    }
                }
            }
            img{
                margin-bottom: 40px;
                @include breakpoint(1366px){
                    margin-bottom: 20px;
                    width: 80px;
                }
            }
            .h4{
                margin-bottom: 10px;
                color: var(--tColor);
            }
            p{
                font-size: 20px;
                line-height: 30px;
                @include breakpoint(1366px){
                    font-size: 18px;
                    line-height: 28px;
                }
            }

        }
    }
}

.ourStudents{
    position: relative;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: auto;
    .h1{
        color: $white;
    }
}
.logos{
    &_imgblk{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 50px;
        @include breakpoint(760px){
            flex-direction: column;
            grid-gap: 20px;
        }
        img{
            width: 100%;
        }
    }
}

.stats{
    position: relative;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(1024px){
        flex-wrap: wrap;
        row-gap: 50px;
    }
    &_card{
        text-align: center;
        @include breakpoint(1024px){
            min-width: 50%;
        }
        .h2{
            color: $white;
            &.bold{
                span{
                    font-family: $bold;
                }
            }
            &.normal{
                font-family: $regular;
            }
        }
    }
}

.testimonial{
    padding-top: 80px;
    padding-bottom: 120px;
    @include breakpoint(1024px){
        padding-top: 60px;
        padding-bottom: 100px;
     }
     @include breakpoint(760px){
        padding-bottom: 60px;
    }
    .titleWrap{
        margin-bottom: 100px;
        @include breakpoint(1024px){
           margin-bottom: 30px;
        }
    }
    .slick-slide {
        margin: 0 20px; /* Gap between slides */
        @include breakpoint(760px){
            margin: 0;
        }
    }
    &_item{
        position: relative;
        
        border-radius: 25px;
        background-color: $white;
        margin: 0 20px;
        @include breakpoint(760px){
            margin: 0;
        }
        &_inner{
            padding: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            grid-gap: 20px;
            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
        }
        .h4{
            color: $blue;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
            line-height: 28px;
        }
    }
}

.academic{
    position: relative;
    padding: 90px 0;
    h6{
        font-size: 24px;
        line-height: 34px;
        font-family: $semiBold;
        color: $blue;
        margin-bottom: 10px;
        @include breakpoint(760px){
            font-size: 20px;
            line-height: 30px;
        }
    }
    p{
        font-size: 18px;
        line-height: 28px;
        @include breakpoint(760px){
            font-size: 16px;
            line-height: 26px;
        }
    }
    img{
        border-radius: 10px;
        @include breakpoint(760px){
            width: 100px;
        }
    }
    &_cards{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        @include breakpoint(1024px){
            grid-template-columns: 1fr 1fr ;
            grid-gap: 20px;
        }
        @include breakpoint(991px){
            grid-template-columns: 1fr ;
        }
        .aCard{
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: $white;
            padding: 15px;
            border-radius: 5px;
            grid-gap: 25px;
        }
    }
}

.newsLetter{
    position: relative;
    padding-top: 100px;
    padding-bottom: 140px;
    @include breakpoint(1024px){
       padding: 60px 0;
    }
    &_form{
        position: relative;
        text-align: center;
        .inputItem{
            margin-bottom: 40px;
            text-align: center;
        }
    }
    &_fixedImg{
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        img{
            @include breakpoint(1024px){
                width: calc(50% - 60px);
            }
        }
        
    }
}